<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>itarvin IM</title>
{load href="__STATIC__/layui/css/layui.css" /}
<script type="text/javascript" src="http://www.jq22.com/js/jquery.min.js"></script>
<style>
html{
    background-image:url('__STATIC__/layui/images/yuan.jpg');
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
</style>
</head>
<body>
{load href="__STATIC__/layui/layui.js" /}
<script>
if(!/^http(s*):\/\//.test(location.href)){
    alert('请部署到localhost上查看该演示');
}
layui.use('layim', function(layim){
    //建立WebSocket通讯
    var socket = new WebSocket('ws://119.23.246.10:8282');
    // //发送一个消息
    var fromid = "{$form}";
    sessionStorage.setItem('user_id',fromid);
    //连接成功时触发
    socket.onopen = function(){
        socket.send('上线了！');
    };
    socket.onmessage = function(e){
        var message =  eval("("+e.data+")");
        switch (message.type){
            case "init":
                var bild = '{"type":"bind","fromid":"'+fromid+'"}';
                socket.send(bild);
                //基础配置
                layim.config({
                    //或采用以下方式初始化接口
                    init: {
                        url: '/api/index/mine?user_id='+fromid
                        ,data: {}
                    }
                    //查看群员接口
                    ,members: {
                        url: '/api/index/friends?user_id='+fromid
                        ,data: {}
                    }
                    //上传图片接口
                    ,uploadImage: {
                        url: '/api/api/upload' //（返回的数据格式见下文）
                        ,type: '' //默认post
                    }
                    //上传文件接口
                    ,uploadFile: {
                        url: '/api/api/upload' //（返回的数据格式见下文）
                        ,type: '' //默认post
                    }
                    ,initSkin: '5.jpg' //1-5 设置初始背景
                    ,notice: true //是否开启桌面消息提醒，默认false
                    ,msgbox: layui.cache.dir + 'css/modules/layim/html/msgbox.html' //消息盒子页面地址，若不开启，剔除该项即可
                    ,find: layui.cache.dir + 'css/modules/layim/html/find.html' //发现页面地址，若不开启，剔除该项即可
                    ,chatLog: layui.cache.dir + 'css/modules/layim/html/chatLog.html' //聊天记录页面地址，若不开启，剔除该项即可
                });
                return;
            case "text":
                console.log(message);
                if(fromid == message.toid) {
                    $.ajax({
                        type:"post",
                        url: "/api/index/userinfo",
                        dataType:"json",
                        data:{'user_id':message.fromid},
                        success:function(res){
                            if(res.code == 0){
                                var data = res.data;
                                //接受音频消息
                                layim.getMessage({
                                    username: data.username
                                    ,avatar: data.avatar
                                    ,id: message.fromid
                                    ,type: "friend"
                                    ,content: message.content
                                    ,timestamp: new Date().getTime()
                                });
                            }
                        }
                    });
                }
                return;
            case "save":
                // 存储
                var data = {
                    content: message.content,
                    fromid: message.fromid,
                    isread: message.isread,
                    time: message.time,
                    toid: message.toid
                };
                save_message(data);
                return;
        }
    }
    //监听在线状态的切换事件
    layim.on('online', function(data){
        var user_id = sessionStorage.getItem('user_id');
        $.ajax({
            type:"post",
            url: "/api/index/change",
            dataType:"json",
            data:{online:data,user_id:user_id},
            success:function(res){}
        });
    });
    //监听签名修改
    layim.on('sign', function(value){
        update_sign(value, fromid)
    });
    //监听layim建立就绪
    layim.on('ready', function(res){
        var user_id = sessionStorage.getItem('user_id');
        $.ajax({
            type:"post",
            url: "/api/chat/get_msg",
            dataType:"json",
            data:{'user_id':user_id,'count':'true'},
            success:function(res){
                var num = res.data;
                if(res.code == 1 && num && num != 0){
                    layim.msgbox(num); //模拟消息盒子有新消息，实际使用时，一般是动态获得
                    //添加好友（如果检测到该socket）
                }
            }
        });
    });
    //监听发送消息
    layim.on('sendMessage', function(data){
        var To = data.to;
        var from = data.mine;
        var message = '{"content":"'+from.content+'","type":"say","fromid":"'+from.id+'","toid":"'+To.id+'"}';
        if(from.id == To.id){
            var message = {
                content : from.content,
                type : "say",
                fromid : from.id,
                toid : To.id,
            };
            save_message(message);
        }else{
            if(To.type === 'friend'){
                layim.setChatStatus('<span style="color:#FF5722;">对方正在输入。。。</span>');
            }
            socket.send(message);
        }
    });
    //监听查看群员
    layim.on('members', function(data){
        console.log(data);
    });
    //监听聊天窗口的切换
    layim.on('chatChange', function(res){
        var type = res.data.type;
        if(type === 'friend'){
            //模拟标注好友状态
            layim.setChatStatus('<span style="color:#FF5722;">在线</span>');
        } else if(type === 'group'){
            // 发送
            //模拟系统消息
            layim.getMessage({
                system: true
                ,id: res.data.id
                ,type: "group"
                ,content: '模拟群员'+(Math.random()*100|0) + '加入群聊'
            });
        }
    });
    function save_message(message){
        $.ajax({
            type : "post",
            url : "/api/chat/save_message",
            dataType : "json",
            data : message,
            success:function(res){}
        });
    }
    function update_sign(message, user_id){
        $.ajax({
            type:"post",
            url: "/api/index/change",
            dataType:"json",
            data:{'user_id':user_id,'sign':message},
            success:function(res){}
        });
    }
});
</script>
</body>
</html>
