<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>itarvin IM</title>
{load href="__STATIC__/layui/dist/css/layui.mobile.css" /}
{load href="__STATIC__/layui/dist/css/modules/layim/mobile/layim.css" /}
{load href="__STATIC__/layui/dist/layui.js" /}
{load href="__STATIC__/layui/dist/mobile.js?v=20171011" /}
<script type="text/javascript" src="http://www.jq22.com/js/jquery.min.js"></script>
</head>
<body>
<script>
layui.config({
    version: '20171011'
}).use('mobile', function(){
    var mobile = layui.mobile
    ,layim = mobile.layim
    ,layer = mobile.layer;

    //建立WebSocket通讯
    var socket = new WebSocket('ws://119.23.246.10:8282');
    // //发送一个消息
    var fromid = "{$form}";
    sessionStorage.setItem('user_id',fromid);
    //连接成功时触发
    socket.onopen = function(){
        socket.send('上线了！');
    };
    socket.onmessage = function(e){
        var message =  eval("("+e.data+")");
        switch (message.type){
            case "init":
                var bild = '{"type":"bind","fromid":"'+fromid+'"}';
                socket.send(bild);
                $.ajax({
                    type:"post",
                    url: '{:url('api/index/mine')}?user_id='+fromid,
                    dataType:"json",
                    data:{},
                    success:function(res){
                        initializes(res.data);
                    }
                });
                return;
            case "text":
                if(fromid == message.toid) {
                    $.ajax({
                        type:"post",
                        url: "{:url('api/index/userinfo')}",
                        dataType:"json",
                        data:{'user_id':message.fromid},
                        success:function(res){
                            if(res.code == 0){
                                var data = res.data;
                                //接受音频消息
                                layim.getMessage({
                                    username: data.username
                                    ,avatar: data.avatar
                                    ,id: message.fromid
                                    ,type: "friend"
                                    ,content: message.content
                                    ,timestamp: new Date().getTime()
                                });
                            }
                        }
                    });
                }
                return;
            case "save":
                // 存储
                var data = {
                    content: message.content,
                    fromid: message.fromid,
                    isread: message.isread,
                    time: message.time,
                    toid: message.toid
                };
                save_message(data);
                return;
        }
    }

    function initializes(myinfo){
        layim.config({
            //上传图片接口
            uploadImage: {
                url: '{:url("api/api/upload")}' //（返回的数据格式见下文）
                ,type: '' //默认post
            }
            //上传文件接口
            ,uploadFile: {
                url: '{:url("api/api/upload")}' //（返回的数据格式见下文）
                ,type: '' //默认post
            }
            ,init: {
                mine : myinfo.mine,
                friend : myinfo.friend,
                group : myinfo.group,
            }
            //扩展更多列表
            ,moreList: [{
                alias: 'find'
                ,title: '发现'
                ,iconUnicode: '&#xe628;' //图标字体的unicode，可不填
                ,iconClass: '' //图标字体的class类名
            },{
                alias: 'share'
                ,title: '分享与邀请'
                ,iconUnicode: '&#xe641;' //图标字体的unicode，可不填
                ,iconClass: '' //图标字体的class类名
            }]
            //,isNewFriend: false //是否开启“新的朋友”
            ,isgroup: true //是否开启“群聊”
            //,chatTitleColor: '#c00' //顶部Bar颜色
            //,title: 'LayIM' //应用名，默认：我的IM
        });
    }

    //监听点击“新的朋友”
    layim.on('newFriend', function(){
        layim.panel({
            title: '新的朋友' //标题
            ,tpl: '<div style="padding: 10px;">自定义模版，{{d.data.test}}</div>' //模版
            ,data: { //数据
            test: '么么哒'
            }
        });
    });


    //查看聊天信息
    layim.on('detail', function(data){
        //console.log(data); //获取当前会话对象
        layim.panel({
            title: data.name + ' 聊天信息' //标题
            ,tpl: '<div style="padding: 10px;">自定义模版，<a href="http://www.layui.com/doc/modules/layim_mobile.html#ondetail" target="_blank">参考文档</a></div>' //模版
            ,data: { //数据
                test: '么么哒'
            }
        });
    });

    //监听点击更多列表
    layim.on('moreList', function(obj){
        switch(obj.alias){
            case 'find':
                layer.msg('自定义发现动作');
                //模拟标记“发现新动态”为已读
                layim.showNew('More', false);
                layim.showNew('find', false);
            break;
                case 'share':
                layim.panel({
                    title: '邀请好友' //标题
                    ,tpl: '<div style="padding: 10px;">自定义模版，{{d.data.test}}</div>' //模版
                    ,data: { //数据
                        test: '么么哒'
                    }
                });
                break;
        }
    });

    //监听发送消息
    layim.on('sendMessage', function(data){
        var To = data.to;
        var To = data.to;
        var from = data.mine;
        var message = '{"content":"'+from.content+'","type":"say","fromid":"'+from.id+'","toid":"'+To.id+'"}';
        if(from.id == To.id){
            var message = {
                content : from.content,
                type : "say",
                fromid : from.id,
                toid : To.id,
            };
            save_message(message);
        }else{
            if(To.type === 'friend'){
                layim.setChatStatus('<span style="color:#FF5722;">对方正在输入。。。</span>');
            }
            socket.send(message);
        }
    });

    //监听查看更多记录
    layim.on('chatlog', function(data, ul){
        console.log(data);
            layim.panel({
                title: '与 '+ data.username +' 的聊天记录' //标题
                ,tpl: '<div style="padding: 10px;">这里是模版，{{d.data.test}}</div>' //模版
                ,data: { //数据
                    test: 'Hello'
                }
        });
    });

    function save_message(message){
        $.ajax({
            type:"post",
            url: "{:url('api/chat/save_message')}",
            dataType:"json",
            data:message,
            success:function(res){}
        });
    }
    //模拟"更多"有新动态
    layim.showNew('More', true);
    layim.showNew('find', true);
});
</script>
</body>
</html>
